In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('house_price_sqft_living_yr_built.csv')

In [3]:
data.head()

    price  sqft_living  yr_built
0  221900         1180      1955
1  538000         2570      1951
2  180000          770      1933
3  604000         1960      1965
4  510000         1680      1987

In [4]:
data.describe()

              price   sqft_living      yr_built
count  2.161300e+04  21613.000000  21613.000000
mean   5.401822e+05   2079.899736   1971.005136
std    3.673622e+05    918.440897     29.373411
min    7.500000e+04    290.000000   1900.000000
25%    3.219500e+05   1427.000000   1951.000000
50%    4.500000e+05   1910.000000   1975.000000
75%    6.450000e+05   2550.000000   1997.000000
max    7.700000e+06  13540.000000   2015.000000

In [5]:
y = data['price']
x1 = data[['sqft_living','yr_built']]

In [6]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.525
Model:                            OLS   Adj. R-squared:                  0.525
Method:                 Least Squares   F-statistic:                 1.193e+04
Date:                Thu, 16 Apr 2020   Prob (F-statistic):               0.00
Time:                        13:58:49   Log-Likelihood:            -2.9958e+05
No. Observations:               21613   AIC:                         5.992e+05
Df Residuals:                   21610   BIC:                         5.992e+05
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        4.549e+06   1.21e+05     37.692      0.000    4.31e+06    4.79e+06
sqft_living   304.7683      1.978    154.041      0.000     300.890     308.646
yr_built    -2355.6905     61.863    -38.079      0.000   -2476.946   -2234.435
==============================================================================
Omnibus:                    14372.179   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           515909.311
Skew:                           2.700   Prob(JB):                         0.00
Kurtosis:                      26.318   Cond. No.                     2.06e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.06e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""